#user root;
worker_processes 1;

events {
    worker_connections  1024;
}

http { 
    include       mime.types;
    default_type  application/octet-stream;
    
    sendfile        on;
    keepalive_timeout  65;

    server {
        listen       80;
        server_name  localhost;
    
        #define the max body size 
        client_max_body_size 5m;    
        client_body_timeout 120;
        #max buffer size when r/w tfs
        tfs_rb_buffer_size  2m;     
        
        location = /put {
            tfs_put;
            tfs_nsip '10.7.17.22:8108';        
        }
        
        #test:curl localhost/get?tfsname=T1XXXXXXXXXXX
        location = /get {   
            tfs_get;
            tfs_nsip '10.7.17.22:8108';        
        }   

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;   
            
        }
    }
}

